@import "../styles/style.css";

.aside-filter{
    background-image: url("../assets/road_sign.jpg");
    background-position: center;
    margin-top: -6rem;
}

.category li{
    margin: 1rem;
}

.aside-category h3,
.aside-category h2 {
    display: inline;
}

.cards {
    margin-top: 0;
}

@media (min-width: 1024px) {
    .cards {
        display: grid;
        margin-top: -6rem;
    }

    .aside-filter.card {
        padding-top: 0;
    }


}

