@import "../styles/style.css";

.post main {
    color: #000;
    padding: 3rem 2rem 1rem 2rem;
}

.post header {
    background-image: url("../assets/stone_hut_by_linus_sandvide.jpg");
}

.color {
    color: darkolivegreen;
    padding-top: 0;
}

.author-thumb {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
}

.author-company {
    font-style: italic;
}

.author-name {
    font-weight: bold;
    font-size: 1.25rem;
}

.post-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-bottom: 2rem;
}

figure {
    display: inline-block;
    margin: 1rem auto;
}

.responsive {
    width: 100%;
    height: auto;
}

.post footer {
    padding: 1rem 2rem;
    text-align: center;
    background-color: darkolivegreen;
    color: #fff;
}

.social-links.color {
    width: 6rem;
    padding-left: 0;
}

@media (min-width: 1024px) {
    .card {
        padding: 6rem 2rem;
    }

    .post main {
        display: flex;
        flex-direction: column;
    }

    .social-links.color {
        width: 10rem;
    }

    .author-thumb {
        width: 8rem;
        height: 8rem;
    }
}



