@import "../styles/style.css";



.author-thumb {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
}

.post-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.post-intro a {
    color: #000;
}



.post-text {
    padding-left: 3rem;
    padding-right: 3rem;
}






.post-intro .social-links li {
    color: darkolivegreen;
    padding: .5rem;
}

.author-name {
    font-weight: bold;
}

.color-p {
    font-style: italic;
    color: darkolivegreen;
    padding: 0;
    margin: 0;
}

.post-author {
    text-align: center;
}


