@import "./resets/normalize.css";
@import "./resets/reset.local.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html{
    height: 100vh;
}

body {
    font-family: "Calibri", "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: #fff;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 10rem;
    grid-template-areas:
        "h"
        "c"
        "f";
    height: 100%;
}

header {
    grid-area: h;
}

.cards {
    grid-area: c;
    margin-top: -6rem;
}

footer {
    grid-area: f;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    margin-top: 1rem;
}

.offwhite {
    color: #ccc;
}

.offwhite a:hover {
    color: #fff;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
    padding: 1rem 0;
}

.pad-left {
    padding-left: 2rem;
}

.pad-right {
    padding-right: 2rem;
}

.pad-top {
    padding-top: 4rem
}

.menu-top {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    transition: top .5s;
    background: transparent;
    z-index: 1;
}

.menu-side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: .5s;
}

.menu-side-element {
    padding: 1rem 0 1rem 3rem;
    transition: .3s;
    font-size: 1.2rem;
}

.toggle {
    font-size: 2rem;
}

.chev {
    position: absolute;
    top: 1.7rem;
    right: 2rem;
}

button {
    font-weight: bold;
    padding: .5rem;
    font-size: 1.5rem;
}

.card {
    background-size: cover;
    text-align: center;
    padding: 6rem 2rem;
}

.card > * {
    padding-bottom: 1rem;
}

.social-links {
    display: inline-flex;
    font-size: 1rem;
    justify-content: space-between;
    width: 12rem;
    padding: 1rem 0 0 1.5rem;
}

.aside-color {
    display: none;
}

.aside blockquote,
.aside cite {
    text-align: left;
}

.upper {
    padding-left: 3rem;
}

/*Articles' backgrounds*/
.landing:first-of-type {
    background-image: url("../assets/stone_hut_by_linus_sandvide.jpg");
}

.landing:nth-of-type(2) {
    background-image: url("../assets/blue_orange_by_davisco.jpg");
    background-position: center;
}

.landing:nth-of-type(3) {
    background-image: url("../assets/full_moon_closeup_by_neven_krcmarek.jpg");
}

.landing:nth-of-type(4) {
    background-image: url("../assets/purple_smoke_by_camille_couvez.jpg");
}

.landing:nth-of-type(5) {
    background-image: url("../assets/arrow_sign_by_lance_grandahl.jpg");
    background-position: center;
}

@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, minmax(320px, 1fr));
        grid-template-areas:
        "a c c";
    }

    .menu-large ul {
        display: flex;
        position: absolute;
        top: 2rem;
        left: calc(100vw / 3);
        font-size: 1.5rem;
        z-index: 2;
    }

    .menu-large ul li {
        padding: 0 1rem;
    }

    .menu-side-element,
    .social-links {
        font-size: 1.5rem;
    }

    .aside-color {
        background-color: rgb(143, 164, 188);
    }

    .aside {
        grid-area: a;
        margin-top: -6rem;
        padding: 6rem 2rem;
        display: block;
    }

    .aside-quote,
    .aside-category {
        margin: calc(90vh / 2) 0;
        font-size: 1.75rem;
        width: calc((100vw / 3) - 4rem);
        position: fixed;
    }
    cite {
        font-size: 1.25rem;
    }

    .card {
        padding: calc(100vh / 3) 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    button {
        font-size: 2rem;
    }

}








